.card {
    margin: 0 auto;
    width: 240px;
    height: auto;
    margin-top: 40px;
    background-color: white;
    box-shadow: 0px 0px 26px 15px rgba(17, 17, 26, 0.18);
    border-radius: 10px;
}

.card h3 {
    margin: 0;
    margin-bottom: 10px;
}

.card div {
    margin-bottom: 5px;
}

@media (max-width: 800px) {
    .card {
        width: 200px;
    }
}